<!-- <footer class="site-footer h-card"
style="background-color:rgb(255,243,176)";> -->
<footer class="site-footer h-card"

style="background-color:rgb(256,256,256)";>

  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1" style="font-family:Andale Mono, monospace">
        <ul class="contact-list">
          <!-- <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li> -->
            <li style="font-family:Andale Mono, monospace">
              <p>{{- site.description | escape -}}</p>
            </li>


             {%- if site.email -%}
              <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
            {%- endif -%} 

        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3" style="font-family:Andale Mono, monospace">

          <div style="line-height:0.9">
          <small>
          This project is funded by the UK Arts and Humanities Research Council (AHRC),
          project reference <a target="_blank" href="https://gtr.ukri.org/projects?ref=AH%2FT01279X%2F1">AH/T01279X/1</a>
          </small>
          </div>

          <div style="line-height:0.5"><br/>
          </div>

          <div style="line-height:0.9">
          <small>
          Gefördert durch die Deutsche Forschungsgemeinschaft, Projektnummer <a target="_blank" href="https://gepris.dfg.de/gepris/projekt/429039809">429039809</a>
          </small>
          </div>

      </div>
    </div>
  </div>

</footer>
