---
layout: default
---

<!-- <div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- else -%}
    <h1 class="page-heading">HOME PAGE layout</h1>
  {%- endif -%} -->
  {%- include head.html -%}


  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "default blog header" }}</h2> -->
    <!-- <h2 class="post-list-heading">Research Updates</h2> -->
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta" style="font-size:1.1em">{{ post.date | date: date_format }}</span>
        <h4>
         {%- if post.category == "annotation" -%}
           <span style="font-weight:bold;color:#D98D30;">annotation</span>
           <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
           </a>
         {%- endif -%}
         {%- if post.category == "arrangements" -%}
           <span style="font-weight:bold;color:#6c8223;background-color=#EAEAEA;">arrangements</span>
           <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
           </a>
         {%- endif -%}
         {%- if post.category == "hausmusik" -%}
           <span style="font-weight:bold;color:#ad1a66;">home music</span>
           <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
           </a>
         {%- endif -%}
         {%- if post.category == "digitization" -%}
           <span style="font-weight:bold;color:#516d8a;">digitization</span>
           <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
           </a>
         {%- endif -%}
        </h4>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
